@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --font-color: #1b1f23;
}

body {
  min-height: 100dvh;
  color: var(--font-color);
  background: var(--background);
  border-left: 1px solid var(--font-color);
  border-right: 1px solid var(--font-color);
}

#folderObject:hover > span > #folderObjectDeleteButton {
  display: inline;
}
